pkgbase = mvmctl-bin
	pkgdesc = MicroVM Manager - Container speed, VM isolation
	pkgver = 0.1.0
	pkgrel = 1
	url = https://github.com/AlanD20/mvmctl
	arch = x86_64
	license = MIT
	depends = iproute2
	depends = iptables
	depends = qemu
	depends = libguestfs
	depends = xorriso
	depends = openssh
	provides = mvmctl
	conflicts = mvmctl
	source = mvm-0.1.0::https://github.com/AlanD20/mvmctl/releases/download/v0.1.0/mvm
	source = mvm.1-0.1.0::https://raw.githubusercontent.com/AlanD20/mvmctl/v0.1.0/docs/mvm.1
	sha256sums = SKIP
	sha256sums = SKIP

pkgname = mvmctl-bin
